.button {
    background-color: $blue;
    border: none;
    color: white;
    display: inline-block; // makes sure vertical margin & padding take effect
    font-weight: 300;
    font-size: $font-size-large;
    line-height: 1;
    padding: $small;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--secondary {
@extend button;
background-color:#888;
}