//rem instead of pixels

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    // background: $dark-blue;
    color: $dark-grey;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $medium;
    line-height: 1.6;
    // color: white
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
    
}