// colors
$dark-grey:  #333333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
// $off-black: #20222B;
// $off-white: #A5AFD7;
// $blue: #3C4251;
// $dark-blue: #252D49;
// $light-blue: #464B5E;
// $purple: #8357C5;

//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Spacing Size
$small: 1.2rem;
$medium: 1.6rem;
$large: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

